[user]
   name = Corey Farwell
   email = coreyf@rwell.org

[core]
   excludesfile = "~/.gitignore_global"

[alias]
   pr = pull --rebase
   gr = log --pretty=oneline --graph --decorate --all --abbrev-commit
   st = status -sb
   ci = commit
   di = diff
   co = checkout
   br = branch
   lg = log --decorate

[push]
   default = simple

[color]
   ui = auto
